.meeting-time-wrap{
  width: 820px;
  height: 690px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 60px 50px;
  box-sizing: border-box;
  outline: 0 !important;
  overflow-y: auto;
  border-radius: 20px;
  .head{
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    .logo-box{
      width: 86px;
      height: 86px;
      display: flex;
      justify-content:center;
      align-items: center;
      background: #FCDC00;
      box-shadow: -5px 15px 30px rgba(252, 220, 0, 0.301961);
      border-radius:50%;
      margin-right: 36px;
      .logo{
        width: 42px;
        height: 30px;
        background: url('../assets/Meeting/meetingTimeLogo.svg')  no-repeat;
        background-size: contain;
      }
    }
    .title{
      flex: 1;
      font-family: 'Nunito';
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #030314;
    }
  }
  .search-box{
    width: 649px;
    height: 55px;
    margin-bottom: 56px;
    input{
      width: 649px;
      height: 55px;
      background:none;
      outline:none;
      border:none;
      background: #F3F4F6;
      border-radius: 35px;
      padding-left: 50px;
    }
  }
  .time-box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 46px;
    .time-item{
      width: 25%;
      margin-bottom: 6px;
      /deep/.MuiFormControlLabel-label{
        font-family: 'Quicksand';
        font-size: 16px;
        color: #70798B;
      }
    }
  }
  .btn-box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .btn-l{
      margin-right: 38px;
      height: 78px;
      width: 242px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      border-radius: 180px;
      background: #6001D3;
      box-shadow: -15px 20px 50px rgba(96, 1, 211, 0.301961);
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover{
        background: #6001D3;
        box-shadow: -15px 20px 50px rgba(96, 1, 211, 0.301961);
      }
    }
    .btn-r{
      width: 218px;
      height: 68px;
      text-align: center;
      font-size: 24px;
      color: #000;
      border-radius: 64px;
      background: #FCDC00;
      box-shadow: -15px 20px 50px rgba(253, 52, 110, 0.301961);
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover{
        background: #FCDC00;
        box-shadow: -15px 20px 50px rgba(253, 52, 110, 0.301961);
      }
    }
  }
}
