.agenda-delete-note-wrap {
  width: 922px;
  height: 226px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: -15px 30px 60px rgba(8, 20, 32, 0.2);
  box-sizing: border-box;
  padding: 46px 112px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .l {
    width: 136px;
    height: 136px;
    background: #6001d3;
    box-shadow: -10px 15px 30px rgba(96, 1, 211, 0.301961);
    border-radius: 50%;
    margin-right: 50px;
  }
  .c {
    height: 136px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tit {
      font-family: "Nunito";
      font-weight: 700;
      font-size: 25px;
      line-height: 40px;
      color: #333333;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .desc {
      height: 52px;
      font-family: "Quicksand";
      font-size: 16px;
      line-height: 52px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .r {
    width: 178px;
    height: 50px;
    background: #6001d3;
    box-shadow: -15px 20px 50px rgba(96, 1, 211, 0.301961);
    border-radius: 25px;
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    &:hover {
      background: #6001d3;
      box-shadow: -15px 20px 50px rgba(96, 1, 211, 0.301961);
    }
  }
  .tip {
    position: absolute;
    height: 56px;
    right: 103px;
    top: 8px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #70798b;
    span:first-child {
      margin-right: 10px;
    }
  }
}
