.normal-tip-wrap{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 762px;
  height: 76px;
  background-color: #fff;
  outline: 0 !important;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  .logo{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color: #fd346e;
    display: flex;
    justify-content: center;
    align-items: center;
    .rill{
      width: 14px;
      height: 16px;
      background: url("../assets/normalTip.svg") no-repeat;
      background-size: contain;
    }
  }
  .desc{
    width: 638px;
    height: 38px;
    line-height: 38px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #70798B;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}