.backgroud {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("https://yi-files.s3.eu-west-1.amazonaws.com/products/974000/974298/1641674-full.jpg");
}
