.calender-user-card-mini-wrap{
  width: 148px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  .img-box{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .avator{
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
  }
  .main{
    height: 120px;
    width: 148px;
    border-radius: 20px;
    box-shadow: -15px 30px 60px rgba(8, 20, 32, 0.2);
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    .name{
      margin: 0 auto;
      width: 140px;
      height: 26px;
      text-align: center;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-family: 'Nunito';
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
    }
  }
}